{{#each employees}}
<div class="image-flip">
    <div class="mainflip flip-0">
        <div class="frontside">
            <div class="card">
                <div class="card-body text-center">
                    <!--<p><img class=" img-fluid"
                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                            alt="card image"></p>-->
                    <h4 class="card-title">{{name}}</h4>
                    <h5 class="card-text">{{department}}</h5>
                    <!--<a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                            class="fa fa-plus"></i></a>-->
                    <h5 class="card-text">{{location}}</h5>
                </div>
            </div>
        </div>
        <div class="backside">
            <div class="card">
                <div class="card-body text-center mt-4">
                    <h4 class="card-title">{{name}}</h4>
                    <h5 class="card-text">{{email}}</h5>
                    <h5 class="card-text">{{department}}</h5>
                    <h5 class="card-text">{{location}}</h5>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-primary">
                            <i class="fa fa-pencil fa-lg"></i>
                        </button>
                        <button class="btn btn-primary">
                            <i class="fa fa-trash fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}